<!-- FOOTER -->
<div class="container-fluid">
    <footer class="py-4 container">
        <!-- SOCIAL MEDIA -->
        <div class="social mb-4">
            <a href="https://www.youtube.com/@3droid" class="social-card" aria-label="YouTube">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="https://www.instagram.com/3droid_/" class="social-card" aria-label="Instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100091468188713&notif_id=1682678709002152&notif_t=page_user_activity&ref=notif" class="social-card" aria-label="Facebook">
                <i class="bi bi-facebook"></i>
            </a>
        </div>

        <p class="text-center text-light">
            <img src="https://static.wixstatic.com/media/934e9b_91c5c0fee59a4e8d80108c7d6c83bdad~mv2.png/v1/fill/w_308,h_61,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo3.png" alt="三卓金融科技" id="footer-logo"> 
        </p>
    </footer>
</div>
