<div class="container">
    <h1 class="section-title">隱私政策</h1>
    <p class="subtitle">最後更新日期：2024年12月4日</p>
    <br>
    <div class="h4">1. 引言</div>
    <p class="feature-text">歡迎使用檢測patreon訂閱狀態服務。本隱私政策旨在說明我們如何收集、使用、披露和保護您的個人信息。</p>
    <br>
    <div class="h4">2. 信息收集</div>
    <p class="feature-text">我們可能收集以下類型的信息：</p>
    <ul class="feature-text">
        <li>個人識別信息（如姓名、電子郵件地址）</li>
        <li>Patreon 帳戶信息（用於確認訂閱狀態）</li>
        <li>使用數據（如訪問日誌、IP地址）</li>
    </ul>
    <br>
    <div class="h4">3. 信息使用</div>
    <p class="feature-text">我們使用收集的信息來：</p>
    <ul class="feature-text">
        <li>提供、維護和改進我們的服務</li>
        <li>處理訂閱和付款</li>
        <li>發送服務相關通知</li>
    </ul>
    <br>
    <div class="h4">4. 信息共享</div>
    <p class="feature-text">我們不會出售您的個人信息。我們可能在以下情況下共享信息：</p>
    <ul class="feature-text">
        <li>經您同意</li>
        <li>遵守法律要求</li>
        <li>與服務提供商合作（如 Patreon）</li>
    </ul>
    <br>
    <div class="h4">5. 數據安全</div>
    <p class="feature-text">我們採取合理措施保護您的信息，但不能保證絕對安全。</p>
    <br>
    <div class="h4">6. 您的權利</div>
    <p class="feature-text">您有權訪問、更正或刪除您的個人信息。</p>
    <br>
    <div class="h4">7. 變更</div>
    <p class="feature-text">我們可能會不時更新本隱私政策。重大變更將通過電子郵件或網站通知。</p>
    <br>
    <div class="h4">8. 聯繫我們</div>
    <p class="feature-text">如有任何問題，請聯繫：ivanru372@gmail.com</p>
    <br>
    <p class="text-center">
    <a href="/app" class="cta-button">返回登入</a>
    </p>
</div>