<div class="container">
    <h1 class="section-title">{{ privacy_policy.title }}</h1>
    <p class="subtitle">{{ privacy_policy.last_updated }}</p>
    <br>
    <div class="h4">{{ privacy_policy.sections.introduction.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.introduction.content }}</p>
    <br>
    <div class="h4">{{ privacy_policy.sections.data_collection.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.data_collection.intro }}</p>
    <ul class="feature-text">
        {% for item in privacy_policy.sections.data_collection.list_items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <br>
    <div class="h4">{{ privacy_policy.sections.data_usage.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.data_usage.intro }}</p>
    <ul class="feature-text">
        {% for item in privacy_policy.sections.data_usage.list_items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <br>
    <div class="h4">{{ privacy_policy.sections.data_sharing.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.data_sharing.intro }}</p>
    <ul class="feature-text">
        {% for item in privacy_policy.sections.data_sharing.list_items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <br>
    <div class="h4">{{ privacy_policy.sections.data_security.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.data_security.content }}</p>
    <br>
    <div class="h4">{{ privacy_policy.sections.user_rights.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.user_rights.content }}</p>
    <br>
    <div class="h4">{{ privacy_policy.sections.changes.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.changes.content }}</p>
    <br>
    <div class="h4">{{ privacy_policy.sections.contact.title }}</div>
    <p class="feature-text">{{ privacy_policy.sections.contact.content }}</p>
    <br>
    <p class="text-center">
    <a href="{{ privacy_policy.return_button.link }}" class="cta-button">{{ privacy_policy.return_button.text }}</a>
    </p>
</div>
